# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled bin directory
bin

.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
python/dist/
python/build/
python/.venv/